# Ignoriere den __pycache__ Ordner
__pycache__/

# Ignoriere das Verzeichnis dont publish
dontpublish/
node_modules/

# Ignoriere die settings.json Datei
backend/data/settings.json
backend/data/usage_plan.json

cache/
*cache*


# Ignoriere die Datei Zugangsdaten.py
Zugangsdaten.py


SmartCharge.code-workspace
settings.json
Abhängigkeit Temperatur und realie Reichweite.ods


# Files created from the program (but no cache)
www/templates/time_series_data.json
backend/data/correction_factor_nominal_log.txt

